/* @font-face {
    font-family: 'WildHazelnut';
    src: url('fonts/WildHazelnut/Wild Hazelnut.ttf')format('truetype');
} */

body {
    font-family:'WildHazelnut','Bungee Spice', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Add this to hide horizontal scrollbar */
}

h2 {
    text-align: center;
    font-size: 2em;
    color: lightsalmon;
    background-color: blanchedalmond;
    width: 100%;
    padding: 1em;
    border: 5px solid rgb(242, 76, 76);
    box-sizing: border-box; /* Include padding and border in total width */
}

.recipes {
    text-align: center;
    font-size: 1.563em;
    list-style: none;
    color: lightsalmon;
    background-color: blanchedalmond;
    border: 2px solid rgb(242, 76, 76);
    padding: 1em;
    box-sizing: border-box; /* Include padding and border in total width */
}

#odinimg {
    text-align: center;
    display: block;
    margin: 5px auto;
    max-width: 100%;
    height: auto;
}

#Gordonright, #Gordonleft {
    position: absolute;
    top: 0;
    margin: 5px;
}

#Gordonright {
    right: 0;
    width: 30%;
}

#Gordonleft {
    left: 0;
    width: 30%;
}

#logo{
    width:80px;
    height: auto;
    position: absolute;
    top:0;
    right:0;
}

.recipe-image{
    width:200px;
    height:auto;
}